/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-text-weight: 400;
  --heading-weight: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --bg-image: repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --text-shadow-color: #fff;
  --sparks-color: #ff0000;
  --button-text-color: #fff;
}
